# Ignore everything
**

# Allow files and directories
!/Dockerfile
#!/mabopython_requirements.txt
#!/simplecannet-0.0.1-py3-none-any.whl
#!/src/**

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db